<div class="row">
  <div class="col m6 offset-m3 center">
    <h2>Sign up</h2>
    
    <div class="section">
      <%= link_to user_omniauth_authorize_path(:google_oauth2), class: "btn red darken-1 btn-social" do %>
        <i class="mdi mdi-google"></i>
        Sign up with Google
      <% end %>
      <br/><br/>
      <%= link_to user_omniauth_authorize_path(:facebook), class: "btn blue darken-4 btn-social" do %>
        <i class="mdi mdi-facebook"></i>
        Sign up with Facebook
      <% end %>
      <br/><br/> 
      <%= link_to user_omniauth_authorize_path(:github), class: "btn grey darken-2 btn-social" do %>
        <i class="mdi mdi-github-circle"></i>
        Sign up with Github
      <% end %>  
    </div>

    <div class="row or-divider">
      <span>or with email and password</span>
    </div>

    <div class="section">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "shared/devisemes" %>

        <div class="input-field">
          <%= f.text_field :name, autofocus: true, class: "validate", placeholder: "Name" %>
        </div>

        <div class="input-field">
          <%= f.email_field :email, class: "validate", placeholder: "Email" %>
        </div>

        <div class="input-field">
          <%= f.password_field :password, autocomplete: "off", class: "validate", placeholder: "Password" %>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Sign Up</button>
      <% end %>
    </div>

  </div>
</div>

